* {
	box-sizing: border-box;
}


body {
	background: #221111;
	color: #aaa;
}

b, a { color: #eee; }

.banana-for-scale {
	content: " ";
	visibility: hidden;
	position: fixed;
	width: 10em;
	min-width: 10em;
	max-width: 10em;
	height: 10em;
	min-height: 10em;
	max-height: 10em;
}

#canvas,
#arena {
	display: block;
	height: 100%;
	left: 0;
	max-height: 100%;
	max-width: 100%;
	overflow: hidden;
	position: absolute;
	top: 0px;
	width: 100%;
}
#arena {
	padding: 0em 2em;
}
#arena.mouse-scrolling {
	overflow: visible;
}
::-webkit-scrollbar {
	display: none;
}
.sky {
	position: relative;
	height: calc(100% - 3em);
}
.sky > :last-child {
	position: absolute;
	bottom: 0;
}
.ground {
	display: inline-block;
	height: 35px;
	left: -2em;
	position: relative;
	width: calc(100% + 4em);
	background-image: url('ground.png');
	background-repeat: repeat-x;
	background-size: 100px;
}
.instructions {
	font-size: 1em;
	margin: 1em auto;
	width: 640px;
	z-index: 1;
	position: relative;
}